@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.login-signup-screen {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}